.App {
  text-align: center;
  color: white;
}

button {
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}